@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>News Feeds</h1>

@model IEnumerable<FlickrClone.Models.Photo>

@foreach (var x in Model)
{
    <p>Post by: @x.User.UserName</p>
    <img src="@x.Location" />
    <p>@x.Comment</p>

}